<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.1.2/svg.min.js" integrity="sha512-I+rKw3hArzZIHzrkdELbKqrXfkSvw/h0lW/GgB8FThaBVz2e5ZUlSW8kY8v3q6wq37eybIwyufkEZxe4qSlGcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<h1><%= @tournament.title %></h1>

<h1>Players</h1>
<ul>
<% @tournament.players.each do |player| %>
    <li>
        <%= player.name %>
    </li>

<% end %>
</ul>

<h1>Rounds</h1>
<ul>
<% @tournament.rounds.each do |round| %>
    <li>Round: <%= round.position %></li>
    <ul>
        <% round.players.each do |player| %>
            <li><%= player.name %></li>
        <% end %>
        <ul> Next Rounds:
            <% round.next_rounds.each do |round| %>
                <li><%= round.position %></li>
            <% end %>
        </ul>
    </ul>

<% end %>
</ul>

<%= link_to "Edit", edit_tournament_url(@tournament) %>

<script>
var rounds = <%== @rounds_json %>;

// key: int value: SVG rect
var roundPositionToSVG = {};

// height of round
let roundHeight = 100;
// vertical padding between rounds
let heightPadding = 20;

// width of round
let roundWidth = 100;
// horizontal padding between rounds
let widthPadding = 20;

// how much to lower each successive level
let levelLowerAmount = 50;

var draw = SVG().addTo('body').size(3 * (roundWidth + widthPadding), 3 * (roundHeight + heightPadding + levelLowerAmount));


for (var r of rounds.starting_rounds) {
    var dy = 0;
    var nested = draw.nested().move(0,0);
    var rect = nested.rect(roundHeight,roundWidth).move(0, dy).attr({ fill: '#f06'})
    roundPositionToSVG[r.index] = rect;
    drawPlayers(nested, r.players);
    dy += roundHeight + heightPadding;
}

for (var r of rounds.intermediate_rounds) {
    var dy = 0;
    var nested = draw.nested().move(roundWidth + widthPadding, dy + levelLowerAmount);
    var rect = nested.rect(roundHeight, roundWidth).attr( { fill: 'blue'} )
    roundPositionToSVG[r.index] = rect;
    drawPlayers(nested, r.players);
    dy += roundHeight + heightPadding;
}

var finalRound = draw.rect(roundHeight, roundWidth).move(2 * (roundWidth + widthPadding), levelLowerAmount * 2).attr({ fill: 'red' });
roundPositionToSVG[r.index] = finalRound;


// container: SVG container
// Round: SVG object
// Players: array of names
function drawPlayers(container, players) {
    var dy = 0;
    for (var p of players) {
        container.text(p.name).move(0,dy).font({ fill: '#000' });
        dy += 20;
    }
}

</script>
