<h1><%= @tournament.title %></h1>

<h1>Players</h1>
<ul>
<% @tournament.players.each do |player| %>
    <li>
        <%= player.name %>
    </li>

<% end %>
</ul>

<h1>Rounds</h1>
<ul>
<% @tournament.rounds.each do |round| %>
    <li>Round: <%= round.position %></li>
    <ul>
        <% round.players.each do |player| %>
            <li><%= player.name %></li>
        <% end %>
        <ul> Next Rounds:
            <% round.next_rounds.each do |round| %>
                <li><%= round.position %></li>
            <% end %>
        </ul>
    </ul>

<% end %>
</ul>

<%= link_to "Edit", edit_tournament_url(@tournament) %>

<div data-controller="tournament" data-tournament-rounds-value="<%= @rounds_json %>"></div>